<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    테스트
    <h1>날짜: <%= date %></h1>
    <h1>시각: <%= time %></h1>
    <script>
    // 실시간 시계 업데이트
    setInterval(() => {
      const now = new Date();
      document.querySelector('h1:nth-of-type(2)').textContent = '시각: ' + now.toLocaleTimeString();
    }, 1000);
  </script>
</body>
</html>