<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    테스트
    <h1>날짜: <%= date %></h1>
    <h1>시각: <%= time %></h1>
 
    <script>
        window.addEventListener('DOMContentLoaded', () => {
        setInterval(() => {
            const timeElement = document.getElementById('clock');
            if(timeElement) {
            timeElement.textContent = '시각: ' + new Date().toLocaleTimeString();
            }
        }, 1000);
        });
</script>

</body>
</html>